# basic file exploring
alias ls='exa'
alias ll='exa -l'
alias la='exa -a'
alias lla='exa -la'
alias lal='exa -la'

# default less flags: -R was already default, -S is no-wrap, -M is verbose info line at bottom. 
# -u can be used for showing carriage return as a visible char but ruins colored man.
export LESS="-RSM"
alias l='less'

alias suvi='sudoedit'
alias _vi='sudoedit'

alias chmodx='chmod +x'

# git
alias 'gitl'='git pull'
alias 'gits'='git status -uno'
alias 'gita'='git add'
alias 'gitr'='git remove'
alias 'gitam'=$'git add `git status --short -uno | grep "^.M" | awk \'{print $NF}\' `'
alias 'gitc'='git commit -m'
alias 'gitp'='git push'
alias 'gitd'='git diff'

### the rest are debian specific

# mount macos
alias macos='sudo ./apfs-fuse -o allow_other /dev/nvme0n1p2 /media/degnbol/macos'

# clipboard
alias clip='xclip -sel clip'
alias open='xdg-open'
