# basic file exploring
alias ls='exa'
alias ll='exa -l'
alias la='exa -a'
alias lla='exa -la'
alias lal='exa -la'

alias l='less -S'

alias chmodx='chmod +x'


# git
alias 'gits'='git status -uno'
alias 'gita'='git add'
alias 'gitr'='git remove'
alias 'gitam'='git add `git status --short -uno | grep "^.M" | cut -c4- `'
alias 'gitc'='git commit -m'
alias 'gitp'='git push'

### the rest are debian specific

# mount macos
alias macos='sudo ./apfs-fuse -o allow_other /dev/nvme0n1p2 /media/degnbol/macos'

# clipboard
alias clip='xclip -sel clip'
alias open='xdg-open'
