alias ls='exa'
alias ll='exa -l'
alias la='exa -a'
alias lla='exa -la'
alias lal='exa -la'

alias l='less -S'

# mount macos
alias macos='sudo ./apfs-fuse -o allow_other /dev/nvme0n1p2 /media/degnbol/macos'
